@font-face	{
	font-family: joystix;
	src: url(fonts/joystix-monospace.ttf);
	font-style: normal;
	font-weight: 100;
}

body{
    background-color: #000;
    font-family: joystix;
}

.grid  {
    width: 400px;
    height: 600px;
    background-image: url(backgrounds/background-up.png);  
    position: relative;
    font-size: 100px;
    text-align: center;
    color: #fff;
}

.doodler{
    width: 60px;
    height: 85px;
    background-image: url(space-ship.png);
    position: absolute;
}

.platform{
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
}